<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="entete_page_1" value="S.S.A LA CLEMENTINE"/>
    <add key="entete_page_2" value="9, avenue Khalid Bnou loualid   +212 5 22 35 55 55 \n Casablanca 20250                primrose@primrose-flowers.com \n Maroc                           primrose-flowers.com"/>
    <add key="pied_page_1" value="The product is certified GLOBAL G.A.P GNN: 4056186198051"/>
    <add key="pied_page_2" value="*Capital 10.000.000 DH \n *CNSS 3035757 \n *IF 14391311 \n *I.C.E. 001840297000037 \n *CGN 4058186198051"/>
  </appSettings>
</configuration>